<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>CovenantCodeLanding</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="header__inner">
        <img src="logo.svg" alt="Logo" class="header__logo">
        <nav class="header__nav">
            <a href="#about" class="header__link">О нас</a>
            <a href="#apply" class="header__link header__link--button">Отправить заявку</a>
        </nav>
    </div>
</header>

<main>
    <div th:replace="${content}"></div>
</main>

<footer class="footer">
    <div class="footer-column">
        <h3>Контакты</h3>
        <div class="contact-info">
            <div class="contact-line"> Адрес:</div>
            <div class="contact-line"> Телефон:</div>
            <div class="contact-line"> Email:</div>
        </div>
    </div>
    <div class="footer-column">
        <h3>Навигация</h3>
        <div class="links">
            <a href="#">Главная</a>
            <a href="#">Услуги</a>
        </div>
    </div>

    <div class="footer-copyright">
        <p>&copy; 2025 CovenantCodeLanding. Все права защищены.</p>
    </div>
</footer>
</body>
</html>