<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm</title>
</head>
<body>
<div style="display: none;">
    param.error: <span th:text="${param.error}">none</span><br>
    param.success: <span th:text="${param.success}">none</span>
</div>
<form th:action="@{/form}" th:object="${user}" method="post">
    <label for="name">Имя: </label>
    <input type="text" id="name" pattern="[a-zA-Zа-яА-Я]+" th:field="*{name}"><br>

    <label for="phone">Phone: </label>
    <input type="text" id="phone" pattern="^[0-9\-\+\(\)\s]+$" th:field="*{phone}"><br>

    <label for="email">Email: </label>
    <input type="email" id="email" th:field="*{email}"><br>

    <label for="message">Message: </label>
    <textarea id="message" th:field="*{message}"></textarea><br>

    <button type="submit">Отправить</button>
</form>

<script th:if="${param.error}">
    alert("Что-то пошло не так, попробуйте повторить попытку позже")
</script>

<script th:if="${param.success}">
    alert("Форма успешно отправлена!");
    setTimeout(() => window.location.href = '/success', 100);
</script>
</body>
</html>